.Collapsible {
	/*background-color: rgb(0, 188, 212);*/
	padding: 10px;
	border-bottom: 1px solid black;
}

.Collapsible__trigger {
	height: 100%;
	background-color: red;
}

.Collapsible:hover {
	cursor: pointer;
}

.Collapsible__contentOuter {
}

.Collapsible__contentOuter:hover {
	cursor: default;
}

.Collapsible__contentInner {
	background-color: white;
	padding: 10px;
}