.leftPane{
}

.rightPane {
	/*background-color: rgba(255,0,0,0.6);*/
	text-align: center;
	padding: 30px 0px;
}

.row {
	width: 100%;
	margin-left: 0px;
}

.authPage {
	min-height: 700px;
	background-image: url(./../../assets/header-bg.jpeg);
}

/*title*/
.authPage h2 {
	color: #616161;
	font-size: 2rem;
	font-weight: normal;
}

/*title description*/
.authPage h6 {
	color: #9E9E9E;
}

.authPage .fieldsContainer {
	margin-top: 1.5rem;
}

/*submit button*/
.authPage .submitButton {
	margin: 20px 0px 10px 0px;
	background-color: yellow;
	width: 70%;
}

.authPage .circularProgress {
	padding: 15px 5px;
}

/*error*/
.authPage p {
	display: block;
	position: absolute;
	padding: 3px;
	color: #808080;
	width: 255px;
	/*background-color: #FFBABA;*/
}

.authPage a {
	display: block;
}

.authPage .bottomAlign {
	display: block;
}